/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body{
  margin: 0;
}

main {
  width: calc(70% - 1px); 
  float: left; 
  padding: 1rem;
  border-right: 1px solid #ccc;
}

aside {
  width: 30%; 
  float: right; 
  padding: 1rem; 
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav ul {
  list-style-type: triangle; 
  color: red;
}

nav a {
  color: blue; 
  text-decoration: none;
}

nav a:active {
  color: beige; 
}

nav a:hover {
  color: green;

nav a:visited {
  color: black;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
  background-color: #7632A4;
  padding: 20px; 
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
  background-color: #7632A4;
  text-align: center;
  clear: both; 
  padding: 10px; 
  color: black;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

